a{
	text-decoration: none;
	color: black;
}

.cabecalho{
	width:100% ;
	height: 17vh;
	background-color: #FF4848;
	img{
		width: 295px;
		height: 88px;
		margin-left: 20px;
		margin-top: 20px;
	}
}

.cabecalho2{
	width: 100%;
	height: 5vh;
	background-color: #FF2222;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.projeto{
	width:662px ;
	height: 200px;
	background-color: #FF4848;
}
.sla{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2, h3, h4, h5, p{
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1{
	text-align: center;
	font-size: 40px;
}

h2{
	text-align: center;
	font-size: 30px;
}

h3{
	text-align: center;
	font-size: 40px;
}

h4{
	text-align: center;
	font-size: 24px;
}

h5{
	text-align: center;
	font-size: 24px;
}

p{
	text-align: center;
	font-size: 20px;
}

.ns{
	width: 100%;
	height: 197px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rr{
	width: 20%;
	height: 210px;
	background-color:#FF4848 ;
}

.saiba{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10vh;
}

.tt{
	width: 20%;
	height: 197px;
	background-color:#FF4848 ;
	margin-top: 20vh;
}

.rodape{
	width:100% ;
	height: 17vh;
	background-color: #FF4848;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
}
